[Unit]
Description=Change wallpaper at regular intervals

[Service]
Type=oneshot
Environment=DISPLAY=:0.0
ExecStart=/home/kfarrell/Git/styli.sh/run.sh
